.booking {
  min-height: 80px;
  margin-bottom: 40px;
}

.header {
  border-bottom: 1px solid var(--color-gray-300);
}

.booking-header {
  text-align: left;
  width: 1000px;
  margin: 94px auto 30px auto;
  font-size: 19px;
  font-weight: 700;
}

.booking-message {
  width: 1000px;
  margin: 0 auto 0px auto;
}

.booking-container {
  max-width: 980px;
  margin: 0 auto;
}

.product {
  grid-template-columns: 250px 1fr;
  gap: 30px;
  margin-bottom: 30px;
}

.product > a > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product__content {
  position: relative;
}

.product__title {
  display: inline-block;
  color: var(--color-cyan-800);
  font-weight: 700;
  margin-bottom: 20px;
}

.product__infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product__info {
  display: flex;
  gap: 7px;
}

.product__info dt {
  font-weight: 700;
}

.delete__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.form-reservation h3 {
  margin-bottom: 20px;
  font-size: 19px;
  line-height: 16px;
}

.contact__field input,
.tpfield {
  width: 200px;
  height: 38px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--color-gray-300);
  border-radius: 5px;
}

.contact__field label {
  width: 300px;
}

.contact__field,
.payment__field {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact__notice {
  font-weight: 700;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 3px;
}

.tappay-field-focus {
  outline: 0;
  border-bottom: 2px solid #55c57a;
}
.has-error .tappay-field-focus {
  border-bottom: 2px solid #ff7730;
}
.has-success .tappay-field-focus {
  border-bottom: 2px solid #55c57a;
}

.checkout {
  text-align: right;
  font-weight: 700;
}

.checkout__btn {
  width: 173px;
  height: 36px;
  margin-top: 22px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 400;
}

/**************************/
/* BELOW 1200px */
/**************************/
/* 1rem = 1em = 16px */

@media (max-width: 75em) {
}

/**************************/
/* BELOW 704px */
/**************************/

@media (max-width: 44em) {
  .product {
    grid-template-columns: 400px;
    justify-content: center;
    margin-bottom: 60px;
  }

  .delete__btn {
    top: unset;
  }
}

/**************************/
/* BELOW 544px */
/**************************/

@media (max-width: 34em) {
  .main-container.booking {
    margin: 0 10px 40px 10px;
  }

  .product {
    grid-template-columns: 340px;
  }
}
