:root {
  --color-primary: #448899;
  --color-secondary: #666666;
  --color-tertiary: #aabbcc;
  --color-primary-light: #66aabb;
  --color-secondary-light: #757575;
  --color-primary-lightest: #aaddee;
  --color-secondary-lighter: #e8e8e8;
  --color-secondary-lightest: #f8f8f8;
  --gradient-primary-light: linear-gradient(135deg, #aaddee 0%, #66aabb 100%);
  --gradient-primary-dark: linear-gradient(270deg, #337788 0%, #66aabb 100%);
}

/**************************/
/* SET */
/**************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Noto Sans TC, sans-serif;
  font-weight: 400;
  color: var(--color-secondary);
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.main-container {
  max-width: 120rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.loading {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 12rem;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in;
}

.loading.show {
  opacity: 1;
}

.dot {
  margin: 0.2rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-secondary-lighter);
  border-radius: 50%;
  animation: jump 0.5s ease-in infinite;
}

.dot:nth-of-type(2) {
  animation-delay: 0.1s;
}

.dot:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.8rem);
  }
}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5.4rem;
  background-color: #ffffff;
}

.header.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120rem;
}

.nav__logo {
  text-decoration: none;
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: 700;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 17.5rem;
  padding: 1rem;
  font-size: 1.6rem;
}

.nav__link:link,
.nav__link:visited {
  color: inherit;
  text-decoration: none;
}

/**************************/
/* SECTION HERO */
/**************************/
main {
  position: relative;
  margin-top: 5.4rem;
}

.section-hero {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 32rem;
  padding: 0 23.2rem;
  margin-bottom: 4rem;
  background-image: var(--gradient-primary-light);
}

.hero-img {
  height: 100%;
}

.slogan-container {
  position: absolute;
  top: 7.6rem;
  height: 14.9rem;
  color: var(--color-secondary-lightest);
}

.slogan__header {
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
  font-weight: 700;
  text-shadow: 0px 0px 30px var(--color-tertiary);
}

.slogan__description {
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
}

.search {
  display: flex;
  width: 46rem;
  height: 4.6rem;
}

.search__field {
  width: 100%;
  padding: 1.5rem;
  border: none;
  font-weight: 700;
  color: var(--color-secondary-light);
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: 0 0 2rem var(--color-tertiary);
}

.search__btn {
  width: 6rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}

/**************************/
/* SECTION-ATTRACTIONS */
/**************************/

.section-attractions {
  position: relative;
  min-height: 45vh;
  padding: 1.5rem;
  margin-bottom: 4rem;
}

.attractions-container {
  gap: 3rem;
}

.attraction {
  display: flex;
  flex-direction: column;
  min-width: 27rem;
  height: 24.2rem;
  font-size: 1.6rem;
  color: var(--color-secondary-light);
  border-radius: 0.5rem;
  box-shadow: 0px 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

.attraction__img {
  min-width: 100%;
  height: 16rem;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
}

.attraction__content {
  margin: 1.2rem 1rem;
}

.attraction__title {
  margin-bottom: 1.5rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attraction__attributes {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.error {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 3rem;
}

.error__icon {
  width: 5rem;
  height: 5rem;
  color: var(--color-secondary-light);
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10.4rem;
  background-color: var(--color-secondary);
}

.copyright {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
}

/**************************/
/* BELOW 1200px */
/**************************/
/* 1rem = 1em = 16px */

/**************************/
/* BELOW 600px */
/**************************/
