{% extends "base.html" %} {% block stylesheet %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/booking.css') }}"
/>
{% endblock %} {% block script%}
<script
  defer
  type="module"
  src="{{ url_for('static',filename='js/controllers/bookingController.js') }}"
></script>
{% endblock %} {% block section %}
<div class="main-container booking">
  <div class="loader">
    <p>Please wait for a bit...</p>
    <div class="loading">
      <div class="dot dot--bounce"></div>
      <div class="dot dot--bounce"></div>
      <div class="dot dot--bounce"></div>
    </div>
  </div>
</div>

{% endblock %}
