{% extends "base.html" %} {% block stylesheet %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='css/index.css') }}"
/>
{% endblock %} {% block script%}
<script
  defer
  type="module"
  src="{{ url_for('static',filename='js/controllers/attractionsController.js') }}"
></script>
{% endblock %} {% block section %}

<section class="section-hero">
  <div class="main-container">
    <div class="slogan-container">
      <h1 class="slogan__header">輕鬆享受台北一日悠閒</h1>
      <p class="slogan__description">探索每個角落，體驗城市的深度旅遊行程</p>
      <form class="search-bar">
        <input
          type="text"
          placeholder="輸入景點名稱查詢"
          class="search__field"
        />
        <button class="btn search__btn">
          <img
            src="../static/img/icon/search.svg"
            class="search__icon"
            alt="Search icon"
          />
        </button>
      </form>
    </div>
  </div>
</section>

<section class="section-attractions">
  <div class="main-container">
    <div class="loader">
      <p>Please wait for a bit...</p>
      <div class="loading">
        <div class="dot dot--bounce"></div>
        <div class="dot dot--bounce"></div>
        <div class="dot dot--bounce"></div>
      </div>
    </div>
    <div class="attractions-container grid grid--4-cols"></div>
  </div>
</section>
<div class="loading sub-loader">
  <div class="dot dot--bounce"></div>
  <div class="dot dot--bounce"></div>
  <div class="dot dot--bounce"></div>
</div>

{% endblock %}
